body
{
    color: white;
    background-color: lightgreen;
}

.heading
{
    width: 80%;
    font-size: 22px;
}

.name_of_people, #result_person_name, #result_person_accuracy
{
    color: cadetblue;
}

#camera
{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}